:root {
  --text-color:#df03fc;
}
* {
  font-family: "Arial";
}

body {
  background-color:#3d3c3d ;
} 

header {
  display: flex;
  color: var(--text-color) ;
  justify-content: center;
}

body p {
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

main {
display:grid;
grid-template-columns: auto auto auto;
justify-content: center;
}

.card {
  display: flex;
  flex-direction:column ;
  padding: 10px;
  border-style: dashed;
  border-width: 5px;
  border-radius: 10px;
  margin: 15px;
  width: 250px;
  height: 250px;
  border-color: white;
}

.card h1 {
  height: fit-content;
  width: fit-content;
  justify-content: left;
  position: relative;
  margin-top: -20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
  background-color:#3d3c3d;
  color:var(--text-color);
  border-color: white;
  font-size: 25px;
}

.p {
  position: relative;
  font-size: 14px;
  margin-top: -10px;
}

.gradient-box {
  border-style:hidden;
  border-radius: 10px;
  background:linear-gradient(#1c1c1b, #d442f5);
  color: whitesmoke;
  font-size: 12px;
  justify-content: left;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}



