* {
  font-family: "Arial";
}

body {
  background: linear-gradient(#1c1c1b, #d442f5);
} 

header {
  display: flex;
  color: white ;
  justify-content: center;
}

body p {
  color: white;
  display: flex;
  justify-content: center;
}

main {
display:grid;
grid-template-columns: auto auto auto;
justify-content: center;
}

.card {
  display: flex;
  padding: 10px;
  border-style: dashed;
  border-width: 5px;
  border-radius: 10px;
  margin: 15px;
  width: 250px;
  height: 250px;
}

.card h1 {
  height: fit-content;
  width: fit-content;
  justify-content: left;
  position: relative;
  margin-top: -20px;
  border-style: solid;
  border-width: 4px;
  margin-bottom: 90%;
  background-color: lightgray;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}



